<form action="/comprar" method="post">
    <input type="email" name="email" id="email" placeholder="E-mail"><br>
    <input type="number" name="id" id="id" placeholder="ID">
    <button>Comprar</button>
</form>